body
{
	color: #0B0C101;
	background-color: #0B0C10;
	font-family: Courier;
}
h1
{
	margin:10px;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	
}

#logo
{
	width: 960px;
	margin: 20px;
	background-color: #66FCF1;
	font-size:48px;
	text-align: center;
}

#content
{
	width: 260px;
	height:280px;
	float: left;
	background-color: #66FCF1;
	margin: 20px;	
}

#description
{
	width: 600px;
	height:660px;
	float: left;
	background-color: #66FCF1;
	margin:20px;
	text-align: center;
	font-size:20px;
	padding:30px;
}

#footer
{
	width: 880px;
	margin:20px;
	margin-top:10px;
	text-align:right;
}
.tile
{
	margin: 10px;
	width: 240px;
	height: 40px;
	background-color: #45A29E ;
	font-size:20px;
	text-align: center;
	padding-top:10px;
}

.tile:hover
{
	background-color: #1F2833 ;
}

a.tilelink
{
	color:#0B0C101;
	text-decoration:none;
	display:block;
	width: 240px;
	height: 50px;
}
a.tilelink:hover
{
	color:white;
}
#prawa
{
	color: #66FCF1;
}
#okladka
{
	margin-top: 10px;
}
a
{
	font-size:20px;
	text-align: center;
	color:white;
}
#slider
{
	margin-top:
}
td
{
	height:20px;
	width: 20px;
	border: 1px solid black;
	background-color:#45A29E;
	text-align:center;
	color:white;
	font-family:Verdana;
	font-size:10px;
}
#ocena
{
	text-align:right;
	margin-bottom:1px;
}
table
{
	margin-left:auto;
}
h1
{
	margin-top:1px;

}
ol
{
	margin:1px;
}